@import "_reset.scss";
@import "_fonts.scss";
@import "_vars.scss";

html{
    font-size: 10px;
}
body{
    font-family: $FF-header-logo;
    font-size: 1.6rem;
    font-weight: 400;
    color: $grey;
    font-weight: 500;
}
.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    // background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
    background-color: #342628;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #342628 13px ), repeating-linear-gradient( #00000055, #000000 );
}
.container{
    max-width: 130rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
