@import "_reset.scss";
@import "_fonts.scss";
@import "_vars.scss";

html{
    font-size: 10px;
}
body{
    font-family: $FF-header-logo;
    font-size: 1.6rem;
    font-weight: 400;
    color: $darkGrey;
}
.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.container{
    max-width: 130rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
